@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-gray-100: #f2f3f4;
  --color-gray-400: #e1e2e3;
  --color-gray-600: #b3b4ba;
  --color-gray-800: #636773;
  --color-blue-300: #85cae4;
  --color-blue-500: #009eba;
  --color-blue-800: #003046;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-yellow: #ffb945;
  --color-orange: #ff8527;
  --color-beige: #fff8ec;

  --phone-width: 320px;
  --phone-height: 660px;
  --phone-rounded: 2.25rem;
  --phone-shadow: 0 0 0 7px var(--color-black), 0 0 4px 8px var(--color-white),
    0 0 0 12px var(--color-black);

  --ff-cera-pro: 'Cera Pro', sans-serif;

  --shadow-rounded-tl: -6px -5px 0 2px var(--color-black);
  --shadow-rounded-tr: 6px -5px 0 2px var(--color-black);
}

@font-face {
  font-family: 'Material Icons';
  src: url('./assets/fonts/iconfont/MaterialIcons-Regular.ttf');
}

@font-face {
  font-family: 'Material Icons Outlined';
  src: url('./assets/fonts/iconfont/MaterialIconsOutlined-Regular.otf');
}

@font-face {
  font-family: 'Material Icons Two Tone';
  src: url('./assets/fonts/iconfont/MaterialIconsTwoTone-Regular.otf');
}

@font-face {
  font-family: 'Material Icons Round';
  src: url('./assets/fonts/iconfont/MaterialIconsRound-Regular.otf');
}

@font-face {
  font-family: 'Material Icons Sharp';
  src: url('./assets/fonts/iconfont/MaterialIconsSharp-Regular.otf');
}

@font-face {
  font-family: 'Cera Pro';
  src: url('./assets/fonts/cera/Cera-Pro-Black.otf') format('truetype');
  font-weight: 900;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('./assets/fonts/cera/Cera-Pro-Bold.otf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('./assets/fonts/cera/Cera-Pro-Medium.otf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('./assets/fonts/cera/Cera-Pro-Regular.otf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('./assets/fonts/cera/Cera-Pro-Light.otf') format('truetype');
  font-weight: 300;
}

.material-icons,
.material-icons-outlined,
.material-icons-two-tone,
.material-icons-round,
.material-icons-sharp {
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.material-icons {
  font-family: 'Material Icons';
}

.material-icons-outlined {
  font-family: 'Material Icons Outlined';
}

.material-icons-two-tone {
  font-family: 'Material Icons Two Tone';
}

.material-icons-round {
  font-family: 'Material Icons Round';
}

.material-icons-sharp {
  font-family: 'Material Icons Sharp';
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

* {
  word-break: break-word;
}

body {
  font-family: var(--ff-cera-pro);
  font-weight: 400;
}

input {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.5px;
}
